@{
    ViewData["Title"] = "Form Recognizer extracted text";
}

<div class="text-center">
    <h2>Detected PII entities</h2>    
    <p>
        <pre>@ViewData["LangServiceOutput"]</pre>
    </p>

</div>
