@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Upload a file for Pii detection</h2>
    <p>
        <form method="post" action="post-pii-redaction" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" />
        </form>
    </p>
</div>
