@using System.Drawing;

@{
    ViewData["Title"] = "PII polygons";
}

<div class="text-center">
    <h2>Detected PII entities</h2>    
    <p>
        <pre>@ViewData["PiiRedaction"]</pre>
    </p>

</div>
